<div class="page-header">
  <%= link_to new_article_path, class: 'btn btn-primary', require_login: true do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Article
  <% end %>
  <h1>Listing articles</h1>
</div>

<div id="masonry-container" class="transitions-enabled clearfix">
  <%= div_for(@articles, class: 'box panel panel-default') do |article| %>
    <%= render article %>
  <% end %>
</div>
