<div class="page-header">
  <%= link_to authors_path, class: 'btn btn-default', require_login: true do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New author</h1>
</div>

<%= render 'form' %>
