/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require 'masonry/gutters'
 *= require_tree .
 *= require_self
 */

 body {
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
}

 .author-thumb {
    width: 140px;
 }

 .glyphicon-grain {
    font-size: 30px;
    margin-top: 10px;
    color: #f0f0f0;
    float: left;
    margin-right: 12px;
}


#masonry-container {
  background: #FFF;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.box {
	width: 260px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
}

.box h2 {
	margin-top: 4px;
}

